{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
            <h1 class="display-4">About us</h1>
            <p class="font-italic text-muted mb-4">The "pet protected" project aims to create a situation in which the
                residents of Israel distribute among themselves all the objects, related to animals, which they
                do
                not need, but are still valuable and it is a pity to throw them away. But to this day we have
                not
                had access to it.
                The project is a social business that sustains itself financially, and is also assisted by
                financial
                support of the good will of its users.
                As part of the course, we were given the tools to set up such a venture, as well as make a
                website
                accessible to all.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="media/pet-care.png" alt="" class="img-fluid"></div>
    </div>
</div>


<div class="container py-5">
    <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">Environmental aspect</h2>
            <p class="font-italic text-muted mb-4">An object recycling situation will be created, which will
                slightly reduce the use
                of the earth's resources, and reduce the amount of garbage we throw away.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                src="media/save.png" alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="media/economy.png" alt=""
                                                class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6">
            <h2 class="font-weight-light">Economic aspect</h2>
            <p class="font-italic text-muted mb-4">There will be a situation of transferring unused resources
                from
                those who have them, to those who want them. It will also be possible for a person with
                financial
                difficulties to own an animal and have the ability to finance them.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
            <h2 class="font-weight-light">Personal aspect</h2>
            <p class="font-italic text-muted mb-4">Lots of people come across situations where the products of
                their
                animals are already useless and sometimes they are even thrown away. Those people will have a
                simple
                and easy option to help others by handing over the items and feeling the sense of
                satisfaction.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
            <img src="media/man.png" alt="" class="img-fluid mb-4 mb-lg-0">
        </div>
    </div>
</div>


<div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-5">
            <h2 class="display-4 font-weight-light">Our team</h2>
            <p class="font-italic text-muted">The founders of the project are students of software engineering
                in
                SCE, second year 2021.</p>
        </div>
    </div>

    <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img
                    src="media/lior.png" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Lior Swissa</h5><span
                        class="small text-uppercase text-muted">Student</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img
                    src="media/elad.png" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Elad Amir</h5><span class="small text-uppercase text-muted">Student</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img
                    src="media/lin.png" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Lin Bokobza</h5><span
                        class="small text-uppercase text-muted">Student</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img
                    src="media/yarin.png" alt="" width="100"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Yarin Shriker</h5><span class="small text-uppercase text-muted">Student</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i
                            class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
